/* src/index.css */

/* Apply global styles */
@font-face {
  font-family: 'Hylia Serif';
  src: url('./components/HyliaSerifBeta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Set a background color for the entire page */
body {
  background-color: #1f3b1c; /* Dark green background color similar to Ocarina of Time */
  font-family: 'Hylia Serif';
  margin: 0;
  padding: 0;
}

/* Style headings */
h1 {
  font-family: 'Hylia Serif'; /* Apply the Hylia Serif font */
  font-size: auto; /* Adjust font size as needed */
  color: #ffcc29; /* Yellow color similar to Ocarina of Time logo */
  text-align: center;
  margin-top: 80px;
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 4px; /* Adjust letter spacing for a fantasy look */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

h2 {
  color: #fff;
  text-align: center;
}

/* Style links */
a {
  color: #ffcc29; /* Yellow color similar to Ocarina of Time logo */
  text-decoration: none;
  font-weight: bold; /* Make links bold */
}

a:hover {
  text-decoration: underline;
}

/* Remove bullet points from lists */
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

/* Center content vertically and horizontally */
.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}

/* src/components/CharacterList.css */

/* Style the character list container */
/* src/components/CharacterList.css */

/* Style the search input */
.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #ffcc29; /* Yellow border for the input */
  border-radius: 5px;
  background-color: #1f3b1c; /* Dark green background color */
  color: #fff; /* Text color */
  font-size: 16px;
  outline: none;
}

/* Style the filtered character list */
.character-list ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.character-list li {
  margin: 20px 0;
  padding: 10px;
  background-color: #141b0d; /* Dark green background color for character items */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
}

.character-list h3 {
  font-size: 20px;
  color: #ffcc29; /* Yellow color for character names */
  margin-bottom: 5px;
}

.character-list p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff; /* Text color for character descriptions */
}

/* Style the Back to Home link */
.character-list a {
  display: block;
  margin-top: 20px; /* Add spacing below the list */
  text-align: center;
  color: #ffcc29; /* Yellow color for the link */
  text-decoration: none;
  font-weight: bold;
}

.character-list a:hover {
  text-decoration: underline;
}

.character-list .back-button a {
  color: #ffcc29; /* Yellow color for the link */
  text-decoration: none;
  font-weight: bold;
}

.character-list .back-button a:hover {
  text-decoration: underline;
}


.center-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 45vh;
}

#triforce {
  margin: 50px auto;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}


#triangle{
	content:'';
	position:relative;
	width:0px;
	height:0px;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 104px solid #FFBC00;
}
#triangle:before{
	content:'';
	position:absolute;
	display:block;
	border-left:60px solid transparent;
	border-right:60px solid transparent;
	border-bottom:104px solid #FFBC00;
	top:104px;
	left:-120px;
}
#triangle:after{
	content:'';
	position:absolute;
	display:block;
	border-left:60px solid transparent;
	border-right:60px solid transparent;
	border-bottom:104px solid #FFBC00;
	top:104px;
}
#shadow{
	content:'';
	width:0px;
	height:0px;
	position:relative;
	z-index:-1;
	border-left:60px solid transparent;
	border-right:60px solid transparent;
	border-top:104px solid #FF8C00;
	transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	-ms-transform:rotate(60deg);
	-o-transform:rotate(60deg);
	top:27px;
	left:-73px;
}
#shadow:before{
	content:'';
	border-left:60px solid transparent;
	border-right:60px solid transparent;
	border-top:104px solid #FF8C00;
	position:absolute;
	display:block;
	top:0px;
	left:0px;
}
#shadow:after{
	content:'';
	border-left:60px solid transparent;
	border-right:60px solid transparent;
	border-top:104px solid #FF8C00;
	position:absolute;
	display:block;
	top:-104px;
	left:60px;
}

.button-container {
  display: flex;
  flex-direction: row; /* Arrange buttons vertically */
  align-items: center; /* Center horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

/* Add button styling as needed */
/* Style the buttons */
.show-games-button, .show-games-button-1, .show-games-button-2 {
  background-color: transparent; /* Transparent background */
  color: #FFBC00; /* Yellow text color */
  font-family: 'hylia serif';
  margin: 5px;
  border: 2px solid #FFBC00; /* Yellow border */
  padding: 10px 20px; /* Add padding for better spacing */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

/* Style the buttons on hover */
.show-games-button:hover, .show-games-button-1:hover, .show-games-button-2:hover {
  background-color: #FFBC00; /* Yellow background on hover */
  color: #000; /* Black text color on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

/* Optional: Add some border-radius for rounded corners */
.show-games-button, .show-games-button-1, .show-games-button-2 {
  border-radius: 5px;
}

/* Optional: Add a box shadow for depth */
.show-games-button, .show-games-button-1, .show-games-button-2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Add button styling as needed */
/* .show-games-button {
  background-color: #FFBC00;
  color: #000;
}

.show-games-button-1 {
  background-color: #FFBC00;
  color: #000;
}

.show-games-button-2 {
  background-color: #FFBC00;
  color: #000;
} */




/* src/components/GameDetail.css */

/* Style the game details container */
.game-detail {
  background-color: #141b0d; /* Dark green background color */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  max-width: 600px; /* Limit the width of the details */
  margin: 0 auto; /* Center horizontally */
  margin-top: 20px; /* Add some spacing from the top */
}

/* Style headings */
.game-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style paragraphs */
.game-detail p {
  font-size: 16px;
  line-height: 1.5;
}

/* Style the back button */
.back-button {
  display: block;
  margin-top: 20px; /* Add spacing below the details */
  text-align: center;
}

.back-button a {
  color: #ffcc29; /* Yellow color for the link */
  text-decoration: none;
  font-weight: bold;
}

.back-button a:hover {
  text-decoration: underline;
}

/* src/components/GameDetailPage.css */

/* Style the game detail page container */
.game-detail-page {
  background-color: #141b0d; /* Dark green background color */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  max-width: 600px; /* Limit the width of the details */
  margin: 0 auto; /* Center horizontally */
  margin-top: 20px; /* Add some spacing from the top */
}

/* Style headings */
.game-detail-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style paragraphs */
.game-detail-page p {
  font-size: 16px;
  line-height: 1.5;
}

/* Style the back button */
.back-button {
  display: block;
  margin-top: 20px; /* Add spacing below the details */
  text-align: center;
}

.back-button a {
  color: #ffcc29; /* Yellow color for the link */
  text-decoration: none;
  font-weight: bold;
}

.back-button a:hover {
  text-decoration: underline;
}

@media (min-width: 306px) {
  .center-container {
    height: 40vh;
  }

  .button-container {
    margin-top: 75px;
  }

  
}
